body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #2f2f2f, #171717);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999; /* Ensure header stays on top */
}

.banner img {
    width: 100%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

.container {
    max-width: 800px;
    margin: 200px auto 20px auto; /* Adjusted margin-top */
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
    color: #fff; /* Changed text color */
    background: linear-gradient(to right, #9c27b0, #673ab7); /* Gradient purple
