body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #2f2f2f, #171717);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 20px;
    font-family: 'Bebas Neue';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #aaf;
}

.about-me {
    margin-bottom: 40px;
}

.portfolio {
    margin-bottom: 40px;
}

.proficiencies {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Bebas Neue';
    text-align: center;
}

h1, h3 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.image-wrapper {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Position relative for absolute positioning of text */
    width: 100px; /* Width of image wrapper */
}

.portfolio-image {
    width: 100%; /* Ensure images take up full width of their container */
    height: auto;
    border-radius: 10px;
    transition: filter 0.3s ease; /* Transition for image filter */
}

.image-details {
    position: absolute; /* Position absolute to overlay on the image */
    top: 50%; /* Align at vertical center */
    left: 50%; /* Align at horizontal center */
    transform: translate(-50%, -50%); /* Center the details */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 10px; /* Padding for the details */
    color: #fff; /* Text color */
    border-radius: 5px; /* Rounded corners */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Transition for opacity */
}

.image-description {
    display: none; /* Initially hidden */
}

.image-wrapper:hover .image-details {
    opacity: 1; /* Show details on hover */
}

.image-wrapper:hover .portfolio-image {
    filter: brightness(70%); /* Darken image on hover */
}

.image-wrapper:hover .image-description {
    display: block; /* Show description on hover */
}
